<mat-form-field class="search-container">
  <mat-label>Keresés</mat-label>
  <input matInput type="text" id="search" [(ngModel)]="searchText" (input)="checkInput()">
  <small>Minimum {{minSearchLength}} karakter szükséges</small>
</mat-form-field>

<div *ngIf="filteredQuotes as quotesList;" class="grid-container">
  <div class="quoteCard" *ngFor="let quote of quotesList">
    <div class="title">{{quote.id}}. idézet</div>
    <div class="quote">{{quote.quote}}</div>
    <div class="author">{{quote.author}}</div>
  </div>
</div>

<div *ngIf="searchText.length >= minSearchLength && !filteredQuotes.length" class="not-found">
  <h1>Nincs találat</h1>
</div>


